@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap');

@import "tailwindcss";

:root {
    --background: #ffffff;
}

@theme inline {
    --color-mainColor: #000000;
    --color-mainColorHover: #00000022;
}